* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    
    /* height: 20em;
    width: 20em; */
}